{{> header }}
    <div id="slider" class="slider-big">
        <h1>Bienvenido a proyecto Corte 3</h1>
        <a href="/" class="btn-white">Home</a>
    </div>

    <div class="center">
       
        <section id="content">
            <h2>Contenido</h2>
        <h3>Hola, {{ nombre }} tu edad es {{ edad }} </h3>
        <h2>Hora actual del servidor: {{ hora }} </h2>


        </section>
        
       <aside id="sidebar">
           <div id="nav-blog" class="sidebar-item">
               <h3>Menu Sidebar</h3>
               <a href="/formulario" class="btn btn-success">Ir a Formulario</a>
               <a href="pagina2.html" class="btn btn-success">Pagina 2</a>
               <a href="pagina3.html" class="btn btn-success">Pagina 3</a>
            </div>
        </aside>
        <div class="clearfix"></div>
        
    </div>
    
{{> footer }} 

</body>
</html>